<!doctype html>
<html lang="en">

<head>

	<!--
	==========================================
		Page Metadata
	==========================================
	-->

	<title>Membership Admin</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<!--<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>-->
	<!--<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-S7YMK1xjUjSpEnF4P8hPUcgjXYLZKK3fQW1j5ObLSl787II9p8RO9XUGehRmKsxd" crossorigin="anonymous">-->

	<link rel="stylesheet" href="index.css">
	<link rel="stylesheet" href="app-client.css">

</head>


<!--
==========================================
	Main App Scaffolding
==========================================
-->

<body ng-app="TheApplication">

	<div ng-controller="TheController">

		<div class="wrapper">

			<!--
			==========================================
			==========================================
	
				Sidebar
	
			==========================================
			==========================================
			-->

			<nav id="sidebar" class="navbar navbar-default" ng-cloak>

				<!-- Sidebar Header -->
				<ul class="nav navbar-header sidebar-header">

					<li class="nav navbar-nav navbar-right">
						<a href="#" id="collapser-button" class="btn btn-default" ng-click="ThisApp.ToggleSidebarCollapsed()">
							<i class="glyphicon glyphicon-menu-hamburger"></i>
						</a>
					</li>

					<li class="navbar-brand" ng-show="!ThisApp.IsSidebarCollapsed" ng-cloak>
						{{ ThisApp.AppConfig.app_title }}
						<i class="glyphicon glyphicon-send"></i>
					</li>
					
				</ul>

				<!-- Sidebar links, user is NOT logged in. -->

				<ul class="nav navbar-nav sidebar-item-list" ng-show="!ThisApp.IsSidebarCollapsed">

					<!-- Login link, user is NOT logged in. -->
					<li class="sidebar-item" ng-hide="Member.member_logged_in" ng-cloak>
						<a href="#" ng-click="ThisApp.LoadPartial('member-login')">
							<i class="glyphicon glyphicon-log-in"></i>
							Login
						</a>
					</li>

					<!-- Signup link, user is NOT logged in. -->
					<li class="sidebar-item" ng-hide="Member.member_logged_in" ng-cloak>
						<a href="#" ng-click="ThisApp.LoadPartial('member-signup')">
							<i class="glyphicon glyphicon-user"></i>
							Signup
						</a>
					</li>

					<!-- Profile link, user IS logged in. -->
					<li class="sidebar-item" ng-hide="!Member.member_logged_in" ng-cloak>
						<a href="#" ng-click="ThisApp.LoadPartial('member-profile')">
							<i class="glyphicon glyphicon-user"></i>
							Profile: {{ Member.member_name }}
						</a>
					</li>

					<!-- Home link, Always shown. -->
					<li class="sidebar-item">
						<a href="#" class="sidebar-item" ng-click="ThisApp.LoadPartial('site-home')">
							<i class="glyphicon glyphicon-home"></i>
							Home
						</a>
					</li>

				</ul>

				<ul id="app-sidebar-list" class="nav navbar-nav sidebar-item-list" ng-show="!ThisApp.IsSidebarCollapsed">
					<!-- App Content -->
				</ul>

			</nav>


			<!--
			==========================================
			==========================================
	
				Page Errors
	
			==========================================
			==========================================
			-->

			<!--<hr ng-cloak>-->
			<!--<h5 ng-cloak>{{ Member.status_message }}</h5>-->
			<!--<ul ng-cloak>-->
			<!--	<li ng-repeat="error in errors" ng-bind="error">-->
			<!--	</li>-->
			<!--</ul>-->
			<!--<hr ng-cloak>-->


			<!--
			==========================================
			==========================================
	
				Page Content
	
			==========================================
			==========================================
			-->

			<div id="content">
				<div id="content-partial-container">
				</div>
			</div>


		</div>
		<!--container-->

	</div>
	<!--wrapper-->

	</div>
	<!--TheController-->

</body>


<!--
==========================================
	Javascript Library Includes
==========================================
-->

<script src="/node_modules/socket.io-client/dist/socket.io.js"></script>
<script src="/node_modules/liquicode_membership/MembershipClient.js"></script>
<script src="/node_modules/liquicode_membership/MembershipClient-RSVP.js"></script>
<!--<script src="./MembershipClient.js"></script>-->

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="/bower_components/rsvp/rsvp.min.js"></script>

<!--
==========================================
	Load the scaffolding code
==========================================
-->

<script src="/index.js"></script>

<!--
==========================================
	Load the main application
==========================================
-->

<link rel="import" href="app-client.html">
<script src="/app-client.js"></script>


<script>
</script>

</html>
