body {
	/*font-family: "Roboto", "Tahoma", "Verdana", "Arial", "sans-serif";*/
	padding-top: 80px;
	padding-bottom: 60px;
}

h1,
h2,
h3 {
	/*padding: 10px;*/
}


.collapsor {
	/*width: 25px;*/
	/*height: 25px;*/
}

.notice-text {
	color: gray;
}

.error-text {
	color: red;
}

ul.nav-pills>li {
	margin: 2px 2px 2px 2px;
	padding: 2px 2px 2px 2px;
}

.main-button {
	border: 1px solid gray;
	margin: 2px 2px 2px 2px;
	width: 250px;
	height: 200px;
	/*color: #222222;*/
	color: #0F0F0F;
	/*background-color: #333;*/
	/*border-color: #333;*/
}

.main-button img {
	width: 200px;
	height: 100px;
}

.navbar-line-container {
	/*overflow-x: scroll;*/
	white-space: nowrap;
}

.navbar-btn {
	margin: 10px;
}

.item-tag {
	border: 1px solid gray;
	padding: 3px;
	margin: 0px 2px 0px 2px;
}

.item-name {}


table th {
	padding: 3px;
}

table td {
	padding: 3px;
}


.item-list-table {
	border: 1px solid darkgray;
}


.item-list-table th {
	border: 1px solid darkgray;
	padding: 3px 5px 3px 5px;
	margin: 0px 4px 0px 4px;
	color: lightgray;
	background-color: #333;
}

.item-list-table td {

	/*border: 1px dotted darkgray;*/
	border-width: 1px 1px 1px 1px;
	/*border-color: #333 darkgray #333 darkgray;*/
	border-color: #333;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;

	padding: 3px 5px 3px 5px;
	margin: 0px 4px 0px 4px;
	color: gray;
	background-color: #202020;
}

div.dataTables_filter label {
	color: lightgray;
}

div.dataTables_filter input {
	color: black;
}

.alert-container {
	border: 1px solid darkgray;
	border-radius: 10px;
	padding: 3px;
	margin: 2px 6px 2px 6px;
	color: lightgray;
	background-color: #333;
}

.emphasis-text {
	color: lightblue;
	font-weight: bold;
	/*font-size: 125%;*/
}

.common-item {
	color: gray;
}

.lesscommon-item {
	color: lightgray;
}

.uncommon-item {
	color: white;
}

.rare-item {
	color: yellow;
}

.inline-button-less,
.inline-button-more {
	color: darkgray;
	background-color: #333;
	border-color: #333 darkgray #333 darkgray;
	margin: 0px 10px 0px 0px;
	/*width: 20px;*/
}

/*.inline-button-more{}*/

.flat-table td {
	border-width: 0;
	padding: 0px 0px 0px 0px !important;
	margin: 0px 0px 0px 0px !important;
}

.data-detail-header {
	font-weight: bold;
}

.data-detail-value {
	font-size: 125%;
}

a {
	text-decoration: none !important;
}

.wikia-link {
	border: 3px solid transparent;
}

.wikia-link:hover {
	border: 3px solid lightgray;
}


[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
	display: none !important;
}
