<!--Show when the user IS NOT logged in-->
<div ng-hide="Member.member_logged_in" ng-cloak>
	<p class="bg-danger">
		You are currently logged out
	</p>

</div>

<!--Show when the user IS logged in-->
<div ng-hide="!Member.member_logged_in" ng-cloak>

	<p>Hello {{ Member.member_name }}</p>

	<p class="bg-success">
		You are currently logged in as [{{ Member.member_name }}]
	</p>

	<table class="table">
		<tr>
			<th>Signup Time</th>
			<td>{{ Member.member_data.signup_time }}</td>
		</tr>
		<tr>
			<th>Login Time</th>
			<td>{{ Member.member_data.login_time }}</td>
		</tr>
		<tr>
			<th>Member Name</th>
			<td>{{ Member.member_name }}</td>
		</tr>
		<tr>
			<th>Email Address</th>
			<td>{{ Member.member_email }}</td>
		</tr>
		<tr>
			<th>Your Files</th>
			<td>
				<ul>
					<li ng-repeat="item in path_list">{{ item }}</li>
				</ul>
			</td>
		</tr>
	</table>

	<button class="btn btn-warning" type="button" ng-click="Member.MemberLogout()">
			Logout
			<i class="glyphicon glyphicon-log-out"></i>
		</button>

</div>
